<!DOCTYPE html>
<html>

    <head>

        <title>{% block title %}{{title|default}}{% endblock title %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        
        {% block metas %} 
        
        {% endblock metas %}

        <link href="/static/assets/bootstrap.min.css" rel="stylesheet"> 
        
        {% block styles %} 
        
        {% endblock styles %}

    </head>
    <body>

        {% include "nav.html" %}
        {% block content %} 
        
        {% endblock content %}

        <script src="/static/assets/jquery-1.9.1.js"></script>
        <script src="/static/assets/bootstrap.min.js"></script> 
        <script src="/static/scripts/nav.js"></script>
        
        {% block scripts %} 
        
        {% endblock scripts %}

    </body>
</html>