{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block title %}List{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/styles/log.css">
{% endblock%}

{% block content %}
<div class="container">
    <select id = "content" class="content" multiple="multiple">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
</div>

{% endblock %}
{% block scripts %}
<script src="/static/scripts/log.js"></script>
{% endblock %}
